body {
  background-color: #1e1e1e;
  color: #eee;
}

.topnav {
  background: linear-gradient(to bottom, #111, #333);
}

.nav-links a {
  color: #ccc;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.nav-links a.active {
  background-color: #4CAF50;
}

.mode-toggle {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.logo {
  background: linear-gradient(to bottom, #e1e1e1, #ddd6d6); 
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}

.logo .project-name {
  color: #000000;
}